<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/css/main.css" rel="stylesheet">
<!-- ======= Footer ======= -->
<footer id="footer" class="footer" style="background-color: #b9afaf;">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="/" class="logo d-flex align-items-center">
                    <span>Know more</span>
                </a>
                <p>If wanna know more about your prakriti and need more information regarding shifting to ayurveda, feel
                    free to visit us and contact us.</p>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>Ashoka institute of technology</p>
                <p>Varanasi, Uttar Pradesh</p>
                <p>India</p>
                <p class="mt-4"><strong>Phone:</strong> <span>+91-1234567890</span></p>
                <p><strong>Email:</strong> <span>contact@ayurbot.com</span></p>
            </div>
        </div>
    </div>
</footer>
