<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%= title %></title>

    <!-- <link href="/assets/img/favicon.png" rel="icon"> -->

    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap" rel="stylesheet">

    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <%- include('partials/header') %>

    <main id="main">
        <!-- Hero Section -->
        <!-- Hero Section - Home Page -->
        <section id="hero" class="hero">

            <img src="/assets/img/ayurveda3.jpg" alt="" data-aos="fade-in">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h2 data-aos="fade-up" data-aos-delay="100">Know Your Prakriti</h2>
                        <p data-aos="fade-up" data-aos-delay="200">Prakriti refers to genetically determined physical
                            and
                            mental constitution of an individual.
                            Ayurveda system of health care knowledge of prakriti and the provision to subgroup
                            individuals
                            based on their predominant prakriti, is one of its important and unique specialties. </p>
                    </div>
                </div>
            </div>

        </section><!-- End Hero Section -->


        <!-- About Section - Home Page -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row align-items-xl-center gy-5">

                    <div class="col-xl-5 content">
                        <h3>About your prakriti..</h3>
                        <h2> Prakriti Identification</h2>
                        <p>"Rules are simple ,just feel free to illuminate the path to your answer by selecting a
                            solitary
                            options from the questions posed.
                            For better result and fun you can ask some friends/family member to help you in answering
                            psychological questions."</p>
                        <a href="/test" class="read-more"><span>Take test</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                    <!-- Call-to-action Section - Home Page -->
                    <section id="call-to-action" class="call-to-action">

                        <img src="/assets/img/yoga.jpg" alt="pic">

                        <div class="container">
                            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                                <div class="col-xl-10">
                                    <div class="text-center">
                                        <br><br><br>
                                        <h3 style="font-family: 'Amita', cursive;">
                                            "आरोग्यम् परमं धनं, धर्ममूलं सुखस्य च।<br>
                                            आयुर्वेदः प्रमाणं च न तत्र दोषभाग्भवेत् ॥ <br>
                                            आरोग्यं परमं भाग्यं स्वास्थ्यं सर्वार्थ साधनम्। <br>
                                            आयुर्वेदोपदेशेन न कश्चिदरोगभाग्भवेत् ॥"<br>
                                        </h3>
                                        <br><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>


                    <!-- Features Section - Home Page -->
                    <section id="features" class="features">

                        <!--  Section Title -->
                        <div class="container section-title" data-aos="fade-up">
                            <h2>About Prakriti..</h2>
                            <p>According to Ayurveda, a person’s health is based on their dosha — a balance of the five
                                elements of the world known as air, earth, space, water, and fire.
                                Though it's believed that each person has a unique constitution, they generally fall
                                under
                                one of three dosha types-
                                vata,kapha and pitta...based on their body type, personality,and sensitivities.</p>
                        </div><!-- End Section Title -->

                        <div class="container">

                            <div class="row gy-4 align-items-center features-item">
                                <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                                    <h3>VATA</h3>
                                    <p>
                                        Vata consists mostly of the two elements air and space (also known as ether) and
                                        is
                                        generally described as cold, light, dry, rough, flowing, and spacious.
                                        Autumn represents vata for its cool, crisp days.
                                        Those with the vata dosha are usually described as slim, energetic, and
                                        creative.
                                        They’re known for thinking outside the box but can become easily distracted.
                                        What’s more, their mood is highly dependent on the weather, people around them,
                                        and
                                        foods they eat.
                                    </p>
                                    <a href="/result/vata" class="btn btn-get-started">Learn more</a>
                                </div>
                                <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out"
                                    data-aos-delay="100">
                                    <div class="image-stack">
                                        <img src="/assets/img/lake-1802337_1280.jpg" alt="" class="stack-front">
                                        <img src="/assets/img/mountains-3048299_1280.jpg" alt="" class="stack-back">
                                    </div>
                                </div>
                            </div>
                            </BR><!-- Features Item -->

                            <div class="container">

                                <div class="row gy-4 align-items-center features-item">
                                    <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                                        <h3>PITTA</h3>
                                        <p>
                                            They are known for being associated with a tenacious personality, the pitta
                                            dosha is based on fire and water.
                                            It’s commonly described as hot, light, sharp, oily, liquid, and mobile.
                                            Summer is known as pitta season for its sunny, hot days.
                                            People with pitta are said to usually have a muscular build, be very
                                            athletic,
                                            and serve as strong leaders.
                                            They’re highly motivated, goal-oriented, and competitive. Still, their
                                            aggressive and tenacious nature can be off-putting to some people, which can
                                            lead to conflict
                                        </p>
                                        <a href="/result/pitta" class="btn btn-get-started">Learn more</a>
                                    </div>
                                    <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center"
                                        data-aos="zoom-out" data-aos-delay="100">
                                        <div class="image-stack">
                                            <img src="/assets/img/fire and water.jpg" alt="" class="stack-front">
                                            <img src="/assets/img/Ayurvedic1.jpg" alt="" class="stack-back">
                                        </div>
                                    </div>
                                </div>
                                </BR><!-- Features Item -->

                                <div class="container">

                                    <div class="row gy-4 align-items-center features-item">
                                        <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up"
                                            data-aos-delay="200">
                                            <h3>KAPHA</h3>
                                            <p>
                                                Kapha is based on earth and water. It can be described as steady,
                                                stable,
                                                heavy, slow, cold, and soft.
                                                Spring is known as kapha season, as many parts of the world slowly exit
                                                hibernation.
                                                People with this dosha are described as strong, thick-boned, and caring.
                                                They’re known for keeping things together and being a support system for
                                                others.
                                                Kapha-dominant people rarely get upset, think before acting, and go
                                                through
                                                life in a slow, deliberate manner.
                                            </p>
                                            <a href="/result/kapha" class="btn btn-get-started">Learn more</a>
                                        </div>
                                        <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center"
                                            data-aos="zoom-out" data-aos-delay="100">
                                            <div class="image-stack">
                                                <img src="/assets/img/boy-1807518_1280.jpg" alt="" class="stack-front">
                                                <img src="/assets/img/hindus-ai-generated.jpg" alt=""
                                                    class="stack-back">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                    </section><!-- End Features Section -->

                    <!-- Call-to-action Section - Home Page -->
                    <section id="call-to-action" class="call-to-action">

                        <img src="/assets/img/image2.jpg" alt="">

                        <div class="container">
                            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                                <div class="col-xl-10">
                                    <div class="text-center">
                                        <br><br><br>
                                        <h3 style="font-family: 'Amita', cursive;">"सर्वरोग निवारिणी तु आयुर्वेदः
                                            प्रशास्ति
                                            ते I यः पठेत् पुरुषः श्रद्धां ददाति सुखमाप्नुयात् ||"</h3>
                                        <br><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>


                    <!-- Faq Section - Home Page -->
                    <section id="faq" class="faq">

                        <div class="container">

                            <div class="row gy-4">

                                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="content px-xl-5">
                                        <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                                        <p>
                                            Feel free to ask questions and inquire about ayurveda and prakrit.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                                    <div class="faq-container">
                                        <div class="faq-item faq-active">
                                            <h3><span class="num">1.</span> <span>Can Prakriti assessment prevent
                                                    diseases?</span></h3>
                                            <div class="faq-content">
                                                <p> Understanding Prakriti can help identify potential vulnerabilities
                                                    and
                                                    allow for preventive measures to maintain optimal health.</p>
                                            </div>
                                            <i class="faq-toggle bi bi-chevron-right"></i>
                                        </div><!-- End Faq item-->

                                        <div class="faq-item">
                                            <h3><span class="num">2.</span> <span>Can two people with the same Prakriti
                                                    have
                                                    different health issues?</span></h3>
                                            <div class="faq-content">
                                                <p>Yes, because Vikriti (current imbalances) can vary even among
                                                    individuals
                                                    with the same Prakriti, leading to different health concerns and
                                                    different diseases.
                                                </p>
                                            </div>
                                            <i class="faq-toggle bi bi-chevron-right"></i>
                                        </div><!-- End Faq item-->

                                        <div class="faq-item">
                                            <h3><span class="num">3.</span> <span>Can Prakriti change over time?</span>
                                            </h3>
                                            <div class="faq-content">
                                                <p>
                                                    While we know that Prakriti remains relatively stable throughout
                                                    life it
                                                    never changes,
                                                    whereas external factors, diet, lifestyle, and age can influence its
                                                    balance, causing temporary imbalances or Vikriti.
                                                </p>
                                            </div>
                                            <i class="faq-toggle bi bi-chevron-right"></i>
                                        </div><!-- End Faq item-->

                                        <div class="faq-item">
                                            <h3><span class="num">4.</span> <span>Where does Ayurvedic medicine come
                                                    from?</span></h3>
                                            <div class="faq-content">
                                                <p>
                                                    Nature! Ayurveda remedies are all based on the concept that you can
                                                    eat
                                                    your therapies.
                                                    That is why there is such an emphasis on making sure that the herbs,
                                                    oils, and other substances come from clean sources so that we don’t
                                                    create more toxins in the body.</p>
                                            </div>
                                            <i class="faq-toggle bi bi-chevron-right"></i>
                                        </div><!-- End Faq item-->

                                        <div class="faq-item">
                                            <h3><span class="num">5.</span> <span>Does Ayurvedic medicine have side
                                                    effects?</span></h3>
                                            <div class="faq-content">
                                                <p>
                                                    There can be a detox effect which can take the form of mild flu-like
                                                    symptoms, or a rash.
                                                    This usually is a normal reaction and means that the herbs are doing
                                                    their job.
                                                    Sometimes the reaction can be stronger and usually the practitioner
                                                    makes an adjustment in the dosing.</p>
                                            </div>
                                            <i class="faq-toggle bi bi-chevron-right"></i>
                                        </div><!-- End Faq item-->

                                    </div>

                                </div>
                            </div>

                        </div>

                    </section><!-- End Faq Section -->



                    <!-- Call-to-action Section - Home Page -->
                    <section id="call-to-action" class="call-to-action">

                        <img src="/assets/img/ai-generated-8221927_1920.png" alt="">

                        <div class="container">
                            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                                <div class="col-xl-10">
                                    <div class="text-center">
                                        <h3>Contact Us</h3>
                                        <p>Contact us here if you have any queries reagrding this </p>
                                        <a class="cta-btn" href="#">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section><!-- End Call-to-action Section -->

                    <section id="contact" class="contact">

                        <!--  Section Title -->
                        <div class="container section-title" data-aos="fade-up">
                            <h2>Contact</h2>
                            <p>Will feel great to help you.</p>
                        </div><!-- End Section Title -->

                        <div class="container" data-aos="fade-up" data-aos-delay="100">

                            <div class="row gy-4">

                                <div class="col-lg-6">

                                    <div class="row gy-4">
                                        <div class="col-md-6">
                                            <div class="info-item" data-aos="fade" data-aos-delay="200">
                                                <i class="bi bi-geo-alt"></i>
                                                <h3>Address</h3>
                                                <p>Ashoka institute of technology and managment</p>
                                                <p>Varanasi,Uttar pradesh</p>
                                                <p>India</p>
                                            </div>
                                        </div><!-- End Info Item -->

                                        <div class="col-md-6">
                                            <div class="info-item" data-aos="fade" data-aos-delay="300">
                                                <i class="bi bi-telephone"></i>
                                                <h3>Call Us</h3>
                                                <p>+911234567890</p>
                                                <p>+910987654321</p>
                                            </div>
                                        </div><!-- End Info Item -->

                                        <div class="col-md-6">
                                            <div class="info-item" data-aos="fade" data-aos-delay="400">
                                                <i class="bi bi-envelope"></i>
                                                <h3>Email Us</h3>
                                                <p>ayurbot@gmail.com</p>
                                                <p>contactus@gmail.com</p>
                                            </div>
                                        </div><!-- End Info Item -->

                                    </div>

                                </div>

                                <div class="col-lg-6">
                                    <form action="forms/contact.php" method="post" class="php-email-form"
                                        data-aos="fade-up" data-aos-delay="200">
                                        <div class="row gy-4">

                                            <div class="col-md-6">
                                                <input type="text" name="name" class="form-control"
                                                    placeholder="Your Name" required>
                                            </div>

                                            <div class="col-md-6 ">
                                                <input type="email" class="form-control" name="email"
                                                    placeholder="Your Email" required>
                                            </div>

                                            <div class="col-md-12">
                                                <input type="text" class="form-control" name="subject"
                                                    placeholder="Subject" required>
                                            </div>

                                            <div class="col-md-12">
                                                <textarea class="form-control" name="message" rows="6"
                                                    placeholder="Message" required></textarea>
                                            </div>

                                            <div class="col-md-12 text-center">
                                                <div class="loading">Loading</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                                <button type="submit">Send Message</button>
                                            </div>

                                        </div>
                                    </form>
                                </div><!-- End Contact Form -->

                            </div>

                        </div>

                    </section><!-- End Contact Section -->
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>