<!DOCTYPE html>
<html>

<head>
  <title>Kapha Prakriti - Ayurbot</title>
  <link rel="stylesheet" href="/assets/css/prakriti-style.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

    <link href="/assets/css/prakriti-style.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="/assets/img/pics2.jpg" alt="kapha background">
      </div>
    </div>

    <%- include('partials/header_results') %>

    <section class="slider_section">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Your DOMINANT <br>
                    <span>Prakriti is Kapha</span>
                  </h1>
                  <p>Qualities reflecting the elements of Earth and Water</p>
                  <div class="btn-box">
                    <a href="#knowmore" class="btn-1">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="about_section layout_padding" id="knowmore">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="/assets/img/pic2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                KNOW MORE ABOUT KAPHA
              </h2>
            </div>
            <p>
              Kapha’s elemental makeup consists of water and earth. The common translation of kapha is “that which binds
              things” or “that which holds things together.” According to ayurveda, this is the dosha responsible for
              the stability, lubrication, substance, and support of our physical body.

              Kapha supports our emotional calm, our mental and physical endurance, and it allows us to feel deeply, to
              empathize, and to be patient and compassionate.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="/assets/img/pic3.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Kapha dosha Characteristics
              </h2>
            </div>
            <p>
              The qualities of Kapha (slow, steady, moist, smooth, oily, cool, heavy) will be expressed in your mind and
              body. Your frame and build will tend toward robust and strong, and you will likely have a radiant
              complexion, large eyes, and thick, lustrous hair.

              You are probably pretty warm, friendly, compassionate, and easygoing, too. If you know someone with a
              Kapha personality, they are probably a true blue friend. When in balance, Kapha types are the teddy bears
              among us—sweet in nature and a pleasure to be around.

              The heavy qualities of Kapha dosha can sometimes leave Kapha types feeling a little sluggish and lethargic
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="/assets/img/pic1.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Kapha dosha diet
              </h2>
            </div>
            <p>
              <dl>
                <dt>Grains:</dt>
                <dd> Old grains (minimum one year), barley, millet, corn, buckwheat, rye, oats, wheat, rice
                </dd>
                <dt>Pulses:</dt>
                <dd>All, except tofu and black gram</dd>
                <dt>Sweeteners:</dt>
                <dd>Honey, old jaggery (caramelized sugar cane syrup) </dd>
                <dt>Fruits: </dt>
                <dd>Apples, applesauce, apricots, berries, cherries, cranberries, figs (dry), peaches, pears,
                  persimmons, pomegranate, prunes, raisins, strawberries</dd>
                <dt>Vegetables:</dt>
                <dd>Artichoke, asparagus, beets, broccoli, Brussel sprouts, cabbage, carrots, celery, corn, daikon
                  radish, eggplant, garlic, green beans, green chilies, horseradish, kale, leafy greens, leeks, lettuce,
                  mustard greens, okra, onions</dd>
                <dt>Spices:</dt>
                <dd>All spices except salt, especially pungent and sharp spices (pepper, ginger, etc.), lemon juice;
                  Kapha Churna and Kapha Teac</dd>
                <dt>Nuts and seeds:</dt>
                <dd>Sunflower and pumpkin seeds</dd>
                <dt>Oils:</dt>
                <dd>Ghee (for cooking), mustard, sunflower, corn, olive (all, especially ghee, in small amounts)</dd>
              </dl>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/assets/js/jquery-3.4.1.min.js"></script>

  <%- include('partials/footer_results') %>
  
</body>

</html>
