<!DOCTYPE html>
<html>

<head>
    <title>Pitta Prakriti - Ayurbot</title>
    <link rel="stylesheet" href="/assets/css/prakriti-style.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

    <link href="/assets/css/prakriti-style.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    
</head>

<body>

    <div class="hero_area">
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="/assets/img/pics2.jpg" alt="pitta background">
            </div>
        </div>

        <%- include('partials/header_results') %>

        <section class="slider_section">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Your DOMINANT <br>
                                        <span>Prakriti is Pitta</span>
                                    </h1>
                                    <p>Qualities reflecting the elements of Fire and Water</p>
                                    <div class="btn-box">
                                        <a href="#knowmore" class="btn-1">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="about_section layout_padding" id="knowmore">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="/assets/img/pic2.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2>
                                KNOW MORE ABOUT PITTA
                            </h2>
                        </div>
                        <p>
                            Pitta is denotes heat of the body, digestion and all other activities of the body. Pitta
                            helps in
                            secretion from the stomach, bile from the liver, and inflammation. Pitta is sour causing
                            body
                            odor. It helps in energy production in the body. Due to the pitta people will easily
                            distinguish from the right and wrong and also helps in controlling the sense properly. It
                            main function is to maintain body transformation.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="/assets/img/pic3.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2>
                                Pitta dosha Characteristics
                            </h2>
                        </div>
                        <p>
                            The pitta dosha translates to "that which digests things." Pitta's role is transformation:
                            In addition to
                            moving along the digestive system, it also corresponds to metabolism and hormones.

                            It's associated with fire and heat, and those who are pitta-dominant are often sharp-witted,
                            competitive,
                            and highly focused. They are intelligent and outspoken, making them good leaders, speakers,
                            and teachers.
                            They tend to be linear, straightforward thinkers who are goal-oriented. Physically, they
                            have angular
                            features, bright eyes, and moderate body weight. Those who have too much pitta may be prone
                            to issues like
                            acne, skin rashes, heartburn, and indigestion
                        </p>

                    </div>
                </div>
            </div>
    </section>

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="/assets/img/pic1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2>
                                Pitta dosha diet
                            </h2>
                        </div>
                        <p>
                            <dl>
                                <dt>What to eat:</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            Foods with sweet, bitter, astringent tastes</li>
                                        <li>Milk, butter, and ghee in moderation</li>
                                        <li>Wheat, basmati rice, oats, and barley</li>
                                        <li>Sweet fruits like mangoes, melons, grapes, plums, and pomegranates</li>
                                        <li>Vegetables like sweet potatoes, leafy greens, broccoli, cauliflower, green
                                            beans, and zucchini
                                        </li>
                                        <li>Chicken and turkey</li>
                                        <li>Mild spices, especially fennel, cumin, and coriander</li>
                                    </ul>
                                </dd>

                                <dt>What to avoid:
                                <dd>
                                    <ul>
                                        <li>
                                            Sour fermented dairy products, like yogurt and hard cheeses</li>
                                        <li>
                                            Brown rice, millet, rye, and corn</li>
                                        <li>
                                            Sour fruits like berries, grapefruit, and apricot</li>
                                        <li>
                                            Vegetables like hot peppers, beets, raw onions, garlic, spinach, and carrots
                                        </li>
                                        <li>
                                            Hot seasonings like cayenne and chili powders</li>
                                        <li>
                                            Alcohol, refined sugar, and caffeine</li>
                                    </ul>
                                </dd>

                            </dl>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer_results') %>

    <script src="/assets/js/jquery-3.4.1.min.js"></script>
</body>

</html>