<!DOCTYPE html>
<html>

<head>
    <title>Vata Prakriti - Ayurbot</title>
    <link rel="stylesheet" href="/assets/css/prakriti-style.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

    <link href="/assets/css/responsive.css" rel="stylesheet" />
</head>

<body>


    <div class="hero_area">
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="/assets/img/pics2.jpg" alt="vata background">
            </div>
        </div>

        <%- include('partials/header_results') %>

        <section class="slider_section">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Your DOMINANT <br>
                                        <span>Prakriti is Vata</span>
                                    </h1>
                                    <p>Qualities reflecting the elements of Space and Air</p>
                                    <div class="btn-box">
                                        <a href="#knowmore" class="btn-1">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="about_section layout_padding" id="knowmore">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="/assets/img/pic2.jpg" alt="vata characteristics">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <h2>KNOW MORE ABOUT VATA</h2>
                        <p>
                            Vata combines air and space, also called ether. It has links to change, mobility, and
                            movement.

                            According to Ayurveda medicine, it relates to the nervous system and controls breathing,
                            blinking, and
                            circulation. Proponents of the medicine system also say vata is also irregular, rough,
                            flowing, spacious,
                            cold, light, and dry.

                            People who believe in this healing say those who are vata-dominantTrusted Source are
                            energetic, creative,
                            and flexible. They may also have insufficient or moderate weight, dry skin, and fine hair.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="/assets/img/pic3.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2>
                                Vata dosha Characteristics
                            </h2>
                        </div>
                        <p>
                            Vata people often have a small or thin frame and dry skin and hair. They are sensitive to
                            cold weather and
                            may have cold extremities, circulation issues, and joint pain.

                            Their personalities can be entertaining, dynamic, and enthusiastic. They are also said to be
                            creative,
                            perceptive, and sensitive people.

                            Physically and mentally active, they often multi-task and talk quickly.

                            Vata people may be easily overwhelmed and be prone to changeable moods. When vata people
                            become
                            aggravated, their emotions may manifest as fear, anxiety, and nervousness.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="/assets/img/pic1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2>
                                Vata dosha diet
                            </h2>
                        </div>
                        <p>
                            <dl>
                                <dt>Beverages:</dt>
                                <dd> Buttermilk, warm teas, nut milk, and warm or room temperature water

                                </dd>
                                <dt>Meat and eggs:</dt>
                                <dd>Beef, chicken, turkey, and eggs</dd>
                                <dt>Grains:</dt>
                                <dd> Rice, oats, quinoa, and wheat</dd>
                                <dt>Fruits: </dt>
                                <dd>Berries, peaches, mangoes, melons, bananas, avocados, coconuts, and cooked apples
                                </dd>
                                <dt>Vegetables:</dt>
                                <dd>Carrots, beets, squash, lentils, mung beans, sweet potatoes, and green, leafy
                                    vegetables</dd>
                                <dt>Spices:</dt>
                                <dd>Ginger, basil, bay, cinnamon, nutmeg, cloves, parsley, and turmeric</dd>
                                <dt>Nuts and seeds:</dt>
                                <dd>Almonds, chestnuts, cashews, pistachios, and sunflower and pumpkin seeds</dd>
                                <dt>Oils:</dt>
                                <dd>Ghee, avocado oil, coconut oil, sesame oil, and extra virgin olive oil</dd>
                            </dl>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer_results') %>

    <script src="/assets/js/jquery-3.4.1.min.js"></script>
</body>

</html>